<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go REST API</title>
</head>
<body>
    <h1>The number in your req param is {{.numParam }} and is 
        {{if .isGreaterThanFive}}
            NOT greater than five.
        {{else}}
            greater than five.
        {{end}}
    </h1>
</body>
</html>